trash/input/trash_csv/mistletoe_SUPER_10_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_11_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_1_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_2_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_3_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_4_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_5_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_6_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_7_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_8_TRASH.bed
trash/input/trash_csv/mistletoe_SUPER_9_TRASH.bed
trash/results/SUPER_1/fasta/mistletoe_SUPER_1_TRASH.fa
trash/results/SUPER_1/fasta/mistletoe_SUPER_1_TRASH.meta.tsv
trash/results/SUPER_1/tables/mistletoe_SUPER_1_TRASH.cdhit90.members.bed
trash/results/SUPER_10/cdhit/mistletoe_SUPER_10_TRASH.cdhit90.fa.clstr
trash/results/SUPER_10/fasta/mistletoe_SUPER_10_TRASH.fa
trash/results/SUPER_10/fasta/mistletoe_SUPER_10_TRASH.meta.tsv
trash/results/SUPER_10/tables/mistletoe_SUPER_10_TRASH.cdhit90.members.bed
trash/results/SUPER_10/tables/mistletoe_SUPER_10_TRASH.cdhit90.members.tsv
trash/results/SUPER_11/fasta/mistletoe_SUPER_11_TRASH.fa
trash/results/SUPER_11/fasta/mistletoe_SUPER_11_TRASH.meta.tsv
trash/results/SUPER_11/tables/mistletoe_SUPER_11_TRASH.cdhit90.members.bed
trash/results/SUPER_2/cdhit/mistletoe_SUPER_2_TRASH.cdhit90.fa.clstr
trash/results/SUPER_2/fasta/mistletoe_SUPER_2_TRASH.fa
trash/results/SUPER_2/fasta/mistletoe_SUPER_2_TRASH.meta.tsv
trash/results/SUPER_2/tables/mistletoe_SUPER_2_TRASH.cdhit90.members.bed
trash/results/SUPER_2/tables/mistletoe_SUPER_2_TRASH.cdhit90.members.tsv
trash/results/SUPER_3/fasta/mistletoe_SUPER_3_TRASH.fa
trash/results/SUPER_3/fasta/mistletoe_SUPER_3_TRASH.meta.tsv
trash/results/SUPER_4/fasta/mistletoe_SUPER_4_TRASH.fa
trash/results/SUPER_4/fasta/mistletoe_SUPER_4_TRASH.meta.tsv
trash/results/SUPER_4/tables/mistletoe_SUPER_4_TRASH.cdhit90.members.bed
trash/results/SUPER_5/fasta/mistletoe_SUPER_5_TRASH.fa
trash/results/SUPER_5/fasta/mistletoe_SUPER_5_TRASH.meta.tsv
trash/results/SUPER_5/tables/mistletoe_SUPER_5_TRASH.cdhit90.members.bed
trash/results/SUPER_6/fasta/mistletoe_SUPER_6_TRASH.fa
trash/results/SUPER_6/fasta/mistletoe_SUPER_6_TRASH.meta.tsv
trash/results/SUPER_6/tables/mistletoe_SUPER_6_TRASH.cdhit90.members.bed
trash/results/SUPER_7/fasta/mistletoe_SUPER_7_TRASH.fa
trash/results/SUPER_7/fasta/mistletoe_SUPER_7_TRASH.meta.tsv
trash/results/SUPER_7/tables/mistletoe_SUPER_7_TRASH.cdhit90.members.bed
trash/results/SUPER_8/cdhit/mistletoe_SUPER_8_TRASH.cdhit90.fa.clstr
trash/results/SUPER_8/fasta/mistletoe_SUPER_8_TRASH.fa
trash/results/SUPER_8/fasta/mistletoe_SUPER_8_TRASH.meta.tsv
trash/results/SUPER_8/tables/mistletoe_SUPER_8_TRASH.cdhit90.members.bed
trash/results/SUPER_9/fasta/mistletoe_SUPER_9_TRASH.fa
trash/results/SUPER_9/fasta/mistletoe_SUPER_9_TRASH.meta.tsv
trash/results/SUPER_9/tables/mistletoe_SUPER_9_TRASH.cdhit90.members.bed
